#mod-info,
#logout_para {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}

.change {
  border: 1px solid rgb(212, 208, 208);
  border-radius: 5px;

}


#logo {
  font-family: 'Poppins';
  font-weight: 600;
}

#logout-btn {
  background-color: rgb(231, 67, 67);
  color: white;
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 100px;
}

#logout-btn:hover {
  background-color: rgb(235, 101, 101);
}

#profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

input {
  color: blue;
}

.section-info,
.placed-orders {
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
}


@media screen and (min-width: 768px) {

  .section-info,
  .section-history {
    width: 48%;
  }
}


.form-control {
  padding: 20px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

#btnModifier {

  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  color: white;
}

#btnModifier:hover {
  background-color: rgb(69, 69, 69);
}


.placed-orders .box-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.placed-orders .box-container .empty {
  flex: 1;
}

.placed-orders .box-container .box {
  border-radius: 0.5rem;
  border: solid 1px black;
  padding: 1rem 2rem;
}

.placed-orders .box-container .box p {
  padding: 0.5rem 0;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.placed-orders .box-container .box p span {
  color: rgba(49, 49, 154, 0.819);
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
}


.footer {
  background-color: rgb(255, 255, 255);
}

.footer .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.footer .box-container .box h3 {
  text-transform: uppercase;
  color: black;

  padding-bottom: 2rem;
}

.footer .box-container .box p,
.footer .box-container .box a {
  display: block;
  padding: 1rem 0;
  color: #000000;
  text-decoration: none;
}

.footer .box-container .box p i,
.footer .box-container .box a i {
  color: rgb(0, 0, 0);
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: rgb(19, 159, 205);

}

.footer .credit {
  text-align: center;

  margin-top: 2.5rem;
  padding-top: 2.5rem;
}


@media (max-width:990px) {
  html {
    font-size: 55%;
  }

}

@media (max-width:768px) {

  html {
    font-size: 50%;
  }

  .title {
    margin-top: 100px;
  }

  .footer {

    margin-top: 100px;
  }

  .footer .box-container .box p,
  .footer .box-container .box a,
  .footer .box-container .box h3 {

    font-size: 14px;
    text-align: center;
    margin: 0 5px;
  }

  .placed-orders .box-container {

    width: 100%;
  }
}

@media (max-width:450px) {
  html {
    font-size: 47%;
  }

}