@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins';
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    padding: 2rem;
    margin: 100px auto;
   
}
.admin-product-form-container form{

    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.admin-product-form-container form .box{

    width: 100%;
    border-radius: 5px;
    padding: 1.2rem  1.5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    border: 1px solid #a7a7a7;
    text-transform: none;
}
.admin-product-form-container form h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.btn{
    display: block;
    width: 100%;
    background-color: #000000;
    color: white;
    margin-top: 1rem;
    font-size: 1.7rem;
    padding: 1rem 3rem ;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover {
    background-color: #2f2f2f;
}

.confirmationmsg{
    border: 1px solid green;
    color: darkgreen;
    padding: 15px;
    border-radius: 6px;
    background-color:rgb(145, 228, 145);
    text-align: center;
    max-width: 700px;
    }
    div.erreurmsg{
        border: 1px solid darkred;
        color: darkred;
        padding: 6px;
        border-radius: 6px;
        background-color:rgb(228, 145, 145);
        text-align: center;
}

.hide-message{
    display: none;
}
.product-display , .ticket-display{
    margin: 2rem 0;
   
}
.product-display .product_table , .ticket-display .ticket_table{

width: 100%;
text-align: center;
border: 1px solid rgb(215, 214, 217);
border-radius: 13px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-top: 200px;
}
.product-display thead , .ticket-display thead{
   
    background-color: #f5f5f5;
    border-radius: 6px;
}

.product-display td , .ticket-display td{
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 1px solid #dbdada;
}

.product-display th , .ticket-display th{
    padding: 1rem;
    font-size: 2rem;
}

.product-display .btn:last-child , .ticket-display .btn:last-child{

    background-color: rgb(239, 12, 12);
}
.product-display .btn:last-child:hover , .ticket-display .btn:last-child:hover{

    background-color: rgb(181, 21, 21);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background: rgba(211, 211, 211, 0.1);
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 600;

}
.navbar a:hover{
   color: #1241db;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 9rem;
  }
  #title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -100px;
  }
  #dashboard{

    display: flex;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    margin: 200px 0;
   
  }
  .dropdown {
    display: inline-block;
 }
 
 div.dropdown-content {
    display: none;
    position: absolute;
    background-color:#fff;
    min-width: 160px;
    box-shadow:0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px;
 }
 
 .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 6px;
 }
 .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    margin-left: -3px;
 }
 
 .dropdown-content a:hover {
    background-color: #e2e7e9;
 }
 
 a.vd{
      color:#1866e3 ;
      cursor: pointer;
 }
 a.vd:hover{
     color:#adc6ed ;
 }


  .total{
    padding: 100px;
  }
  .tickets{
    padding: 30px;
    font-size: 50px;
    font-weight: 1000;
  }

  #delete_from_panier,#quantity_update_btn{
    border: none;
    background-color: white;
   cursor: pointer;
  }
  #quantity_update_btn{
    color: #000000;
  }
  #quantity_update_btn:hover{
    color:#212121 ;
  }
  #delete_from_panier{
    color: rgb(238, 15, 15);
   padding-left: 40px;
  }
  #quantity{
    border: none;
    font-size: 15px;
    font-weight: 600;
  }

@media (max-width:990px)  {
    html{
        font-size: 55%;
    }

}

@media (max-width:768px)  {

    .product-display , .ticket-display{
        overflow-y: scroll;
    }
    
    .product-display .product_table , .ticket-display .ticket_table{
        width: 80rem;
    }

}

@media (max-width:450px)  {
    html{
        font-size: 50%;
    }

}
.hidden-section {
    display: none;
  }
  #empty_panier{
text-align: center;
margin: 300px 0;

  }
  #form_buy_now{
text-align: center;
  }
#buy_now_btn{
    width: 300px;
    border: none;
    background-color: #000000;
    border-radius: 6px;
    padding: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#buy_now_btn:hover{
    background-color: #2a2a2a;
    color: gainsboro;
}