@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins';
}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  form{
    background: transparent;
    padding: 20px;
    border: 1px  solid  rgb(221, 221, 221);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 6px 6px 6px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  .form-control {
    padding: 20px;
    border: none;
    border-bottom: 1px solid black ;
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 20px;
}
  .btn {
    color: aliceblue;
    background-color:#000000;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #383738;
}
div.confirmationmsg{
    border: 1px solid green;
    color: darkgreen;
    padding: 6px;
    border-radius: 6px;
    background-color:rgb(145, 228, 145);
    text-align: center;
    
    
    }
    div.erreurmsg{
    border: 1px solid darkred;
    color: darkred;
    padding: 6px;
    border-radius: 6px;
    background-color:rgb(228, 145, 145);
    text-align: center;
    }
    .hide-message {
        display: none;
      }

  
      .title{
        text-align: center;
        
  
      }
      a{
        text-decoration: none;
        color: rgb(0, 104, 230);
      }
  