.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  form{
    background: transparent;
    padding: 20px;
    border: 1px  solid  rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 6px 6px 6px 8px rgba(0, 0, 0, 0.1);
    margin-top: 140px;
  }
  
  .form-control {
    padding: 10px;
    border: 1px solid #484646;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    backdrop-filter: blur(10px);
  }
  .form-group {
    margin-bottom: 20px;
}
  .btn {
    color: aliceblue;
    background-color:#9f09af;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #a01eaf;
}
div.confirmationmsg{
    border: 1px solid green;
    color: darkgreen;
    padding: 6px;
    border-radius: 6px;
    background-color:rgb(145, 228, 145);
    text-align: center;
    
    
    }
    div.erreurmsg{
    border: 1px solid darkred;
    color: darkred;
    padding: 6px;
    border-radius: 6px;
    background-color:rgb(228, 145, 145);
    text-align: center;
    }
    .hide-message {
        display: none;
      }

  
      .title{
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:rgb(154, 23, 235)
      }
      a{
        text-decoration: none;
        color: rgb(0, 104, 230);
      }
      body{
        background-image:linear-gradient(to bottom ,rgb(179, 0, 255),transparent);
        background-repeat:no-repeat ;
      }