body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
input[type="text"]{
    text-align: center;
    border-radius: 5px;
    border: solid 1px #000;
    margin: 0px 10px;
}


main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

#featuredProducts {
    margin-bottom: 30px;
}
button{
    background-color: blue;
    border-radius: 5px;
    padding: 2px 5px;
    font-family: sans-serif;
}
.div-search{
    align-self: center;
    margin: auto;
}
.search-btn{
    color: white;
}
.product {
    /* Styles for individual products go here */
}

#filters {
    /* Styles for filter section go here */
}
footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 15px;
}

.footer-section h3 {
  color: #61dafb; /* Accent color */
  border-bottom: 2px solid #61dafb;
  padding-bottom: 5px;
}

.footer-section p {
  margin-top: 15px;
}

.footer-section a {
  color: #61dafb;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
  color: white;
}

.footer-bottom {
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex: 1;
    margin: 15px 0;
  }
}
