section {
    padding: 20px;
}

.product-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    width: 300px;
    background-image: url('images/jd.jpg');
    background-size: cover;   
    
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;

}


.product-details {
   display: none;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   padding-left: 20px;
   width: 290px;
   background-image: url('images/jd.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.btnhide{

color: coral;

}
.btnhide:hover{

    color: rgb(210, 57, 1);

}

.product-card {
    position: relative;
   overflow: hidden;
}

.pimg {
    width: 100%; 
    height: auto; 
    transition: transform 0.5s ease; 
}
.product-card:hover .pimg {
    transform: scale(1.17);
}

h3{
  font-size: 22px;
  color: #000000;
  margin-bottom: 20px;
  margin-top: -10px;
}

h2.title{
   font-size: 40px;

}

.message {
  text-align: center;
    margin-top: 100px;
    margin-bottom: -70px; 
    max-width: 100%; 
    background-color: rgba(255, 255, 255, 0.987);
    border-radius: 20px;
    z-index: 10000;
    gap:1.5rem;
  }
  
  .message span {
    font-size: 2rem;
    color: black;
  }
  
  .message i {
    cursor: pointer;
    color: rgb(156, 28, 28);
    font-size: 2.5rem;
    transition: transform 0.4s ease; 
  }
  
  .message i:hover {
    transform: rotate(90deg);
  }
  
html{
  scroll-behavior: smooth;
}
#profile :hover,#panier-icon :hover{
  color: #344be1;
  }
  #form_add_to_cart{
    text-align: center;
  }
  .add-to-cart{
    background-color:#253edc;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    color: ghostwhite;
    border: none;
    margin-left: 400px;
   
  }
  .add-to-cart:hover{
    background-color: #276ad6;
    cursor: pointer;
  }

     .details_img img{
      width: 450px;
      height: 300px;
      border-radius: 10px;
     }
     .price{
      color: rgb(11, 194, 11);
      font-size: 20px;
      font-weight: 600;
     }
     
     #caracteristiques{
      font-weight: 200;
      margin-top: 50px;
     }
  
     .details-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

  }

  .details_img {
    width: 200px;
    height: auto;
    margin-right: 300px;
    margin-top: 30px;
  
  }
  #caract_titre{
    margin-left: 740px;
    margin-bottom: -40px;
    margin-top: 20px;
  }
.details{
width: 70%;
 margin: 0 auto;
 margin-top: 90px;
 
  }
  p{
    font-weight: 600;
    font-family: 'Poppins';
}
#logo{
  font-family: 'Poppins';
  font-weight: 600;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#searchInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  outline: none;
}
#search_btn{
color: white;
background-color: rgb(25, 25, 40);
border-radius: 6px;
padding: 6px;
margin-left: 20px;
}
#search_btn:hover{
   background-color: rgb(50, 50, 55);
}
.no-product-message {
  display: none;
  color: red;
  font-size: 18px;
  margin-top: 10px;
}   


@media only screen and (max-width: 768px) {
  .details-container {
    flex-direction: column;
    align-items: center;
  }

  .details_img {
    margin-right: 0;
  }

  #caract_titre {
    margin-left: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  .details {
    width: 90%;
    margin-top: 60px;
  }

  .details_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  #price_container {
    text-align: center;
  }

  .add-to-cart {
    width: 120px;
    margin: 25px 0 25px -257px ;
  }


  #form_add_to_cart {
    text-align: center;
  }
}
