section {
    padding: 20px;

}


.product-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    width: 300px;
    background-image: url('images/jd.jpg');
    background-size: cover;   
    
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;

}
.dropdown {
   display: inline-block;
}

div.dropdown-content {
   display: none;
   position: absolute;
   background-color:#fff;
   min-width: 160px;
   box-shadow:0 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1;
   width: 200px;
}

.dropdown:hover .dropdown-content {
   display: block;
   border-radius: 6px;
}

.dropdown-content a {
   color: #000000;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   border-radius: 6px;
}

.dropdown-content a:hover {
   background-color: #e2e7e9;
}

a.vd{
     color:#1866e3 ;
     cursor: pointer;
}
a.vd:hover{
    color:#adc6ed ;
}
.product-details {
   display: none;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   padding-left: 20px;
   width: 290px;
   background-image: url('images/jd.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.btnhide{

color: coral;

}
.btnhide:hover{

    color: rgb(210, 57, 1);

}

.product-card {
    position: relative;
   overflow: hidden;
}

.pimg {
    width: 100%; 
    height: auto; 
    transition: transform 0.5s ease; 
}
.product-card:hover .pimg {
    transform: scale(1.17);
}

h3{
  font-size: 22px;
 font-family: monospace;
  color: #000000;
}

h2.title{
   font-family:monospace ;
   font-size: 40px;
}
footer {
    background-color: #cbc7c7;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .social-links a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }

#fblink{
  color: #1866e3;
}
#maillink{
  color: #a19c9c;
}
#gitlink{
  color: #000000;
}


html{
  scroll-behavior: smooth;
}
#profile :hover,#panier-icon :hover{
  color: #344be1;
  }
  #form_add_to_cart{
    text-align: center;
  }
  .add-to-cart{
    background-color:#253edc;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    color: ghostwhite;
    border: none;
    margin-left: 400px;
   
  }
  .add-to-cart:hover{
    background-color: #276ad6;
    cursor: pointer;
  }

     .details_img img{
      width: 450px;
      height: 300px;
      border-radius: 10px;
     }
     .price{
      color: rgb(11, 194, 11);
      font-size: 25px;
     }
     
     #caracteristiques{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 200;
      margin-top: 50px;
     }
  
     #goback{
      text-decoration: none;
      background-color: rgb(51, 49, 49);
      border-radius: 6px;
      padding: 6px;
      color: white;
     }
     #goback:hover{
      background-color: rgb(74, 72, 72);
     }

     .details-container {
      display: flex;
  }

  .details_img {
    width: 500px;
    margin-right: 300px;
    margin-top: 30px;
    padding-left: 20px;
  }
  #caract_titre{
    margin-left: 740px;
    margin-bottom: -40px;
    margin-top: 20px;
  }
.details{
width: 70%;
background-position: center;
padding: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
margin: 50px auto ;
  }
  p{
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#searchInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  outline: none;
}
#search_btn{
color: white;
background-color: rgb(25, 25, 40);
border-radius: 6px;
padding: 6px;
margin-left: 20px;
}
#search_btn:hover{
   background-color: rgb(50, 50, 55);

}
.no-product-message {
  display: none;
  color: red;
  font-size: 18px;
  margin-top: 10px;
}   