
  #mod-info,#logout_para{
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
  }
  .change{
    border: 1px solid rgb(212, 208, 208);
   border-radius: 5px;
  
  }
 

#logo{
  font-family: 'Poppins';
  font-weight: 600;
}

#logout-btn{
    background-color: rgb(231, 67, 67);
    color: white; 
    padding: 6px 15px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px; 
    margin-left: 100px;
}
#logout-btn:hover{
    background-color:rgb(235, 101, 101);
}
#profile-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 100px;
}


.section-info,
.section-history {
width: 100%;
margin-bottom: 20px;
background-size: cover;
background-position: center;
padding: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
margin: 20px auto ;
}

@media screen and (min-width: 768px) {
.section-info,
.section-history {
width: 48%;
}
}  

  
.form-control {
  padding: 20px;
  border: none;
  border-bottom: 1px solid black ;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 20px;
}

#btnModifier{

  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  color: white;
}
#btnModifier:hover{
  background-color: rgb(69, 69, 69);
}