@import url('https://fonts.googleapis.com/css?family=Poppins');

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;

}

.btn {
  background-color: #515252;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(31, 31, 31);
}

.btn:hover {
  background-color: #797979;
}

body,
ul {
  margin: 0;
  padding: 0;
}

div.titre {
  text-align: center;
  color: rgb(17, 17, 17)
}

.hide-message {
  display: none;
}


form.support {

  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form-control {

  padding: 10px;
  border: 1px solid #b3b2b2;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form-control::placeholder {
  color: rgb(0, 0, 0);
}

div.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
}

html {
  scroll-behavior: smooth;
}


.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.background-img {
  position: absolute;
  width: 60%;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 100px;
 
}

.content {
  text-align: center;

  position: relative;
  max-width: 40%;
  padding: 0 20px; 
}

.title-home {
  font-size: 40px;
}

.content p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 1.5;
}

#btn-to-products {
  margin-top: 24px;
  margin-bottom: 100px;
  display: inline-block;
  background-color: #0f1011;
  box-shadow: 0 4px 8px rgb(31, 31, 31);
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

#btn-to-products:hover {
  background-color: #1b1b1d;
}
@media screen and (max-width: 768px) {
  .home {
      flex-direction: column;
      text-align: center;
  } 
  .title-home {
    font-size: 32px;
  }

  .background-img {
      width: 100%;
      position: static;
  }

  .content {
      max-width: 100%;
  }
}


#logo {
  font-family: 'Poppins';
  font-weight: 600;
}

#profile :hover {
  color: #344be1;
}


.hidden-section {
  display: none;
}

p {
  font-weight: 600;
}


.footer {
  background-color: rgb(255, 255, 255);
}

.footer .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.footer .box-container .box h3 {
  text-transform: uppercase;
  color: black;

  padding-bottom: 2rem;
}

.footer .box-container .box p,
.footer .box-container .box a {
  display: block;
  padding: 1rem 0;
  color: #000000;
  text-decoration: none;
}

.footer .box-container .box p i,
.footer .box-container .box a i {
  color: rgb(0, 0, 0);
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: rgb(19, 159, 205);

}

.footer .credit {
  text-align: center;

  margin-top: 2.5rem;
  padding-top: 2.5rem;
}


@media (max-width:990px) {
  html {
    font-size: 55%;
  }

}

@media (max-width:768px) {

  html {
    font-size: 50%;
  }

  .title {
    margin-top: 100px;
  }

  .footer {

    margin-top: 100px;
  }

  .footer .box-container .box p,
  .footer .box-container .box a,
  .footer .box-container .box h3 {

    font-size: 14px;
    text-align: center;
    margin: 0 5px;
  }

  .placed-orders .box-container {

    width: 100%;
  }
}

@media (max-width:450px) {
  html {
    font-size: 47%;
  }

}